


body {
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}

.slide1{
  background: url("img/testBillede.jpg") center !important;
  background-size: cover;
}


.swiper-container {
  width: 100%;
  height: 60vmin;
 }
.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
 }
:root {
  --swiper-theme-color: #1B5BDB!important;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
   background-color: #1B5BDB;
}

@media screen and (min-width: 768px){

.swiper-container {
  width: 100%;
  height: 301px;
 }
};

@media screen and (min-width: 1200px){

.swiper-container {
  width: auto;
   margin-top: 40px;
  height: 600px;
 }
};