.frontValues{
  max-width: 400px;


  img{
    object-fit: cover;
  }
  }

.valueTitel {
  width: 244px;
  height: 84px;


  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;


  margin-top: -100px;
  z-index: 99999;
  position: absolute;
}


.frontValues:nth-child(odd){

  .valueContent{
    p{
      margin: 5px;

      padding: 1rem;
      font-family: poppins;
      font-size: 14px;
    }

    a{
      font-size: 14px;
      color: black;
      font-weight: bold;

      margin-left: 4px;
      padding-left: 1rem;

    }
    a:hover{
      color: black;
    }
  }


  img{
    position: relative;
    min-width: 200px;
    min-height: 300px;
    width: 60vmin;
    margin-left: auto;
  }

  .valueTitel{


    h2{

    }
  }



}

.frontValues:nth-child(even) {

  .valueContent{
    p{
      padding: 1rem;
      padding-top: 2rem;
      font-family: poppins;
      font-size: 14px;
      margin: 5px;
    }

    a{
      font-size: 14px;
      color: black;
      font-weight: bold;

      padding-left: 1rem;
    }
    a:hover{
      color: black;
    }
  }

  img{
    position: relative;
    left: 0;
    min-width: 200px;
    min-height: 300px;
    width: 60vmin;
  }

  .valueTitel{

    right: -34%;
    margin-right: 26px;
    position: relative;

    h2{

    }
  }



}


.danskDesign{
  .valueTitel{
    background: #8C2EEF;
  }
}

.certifikater{
  .valueTitel{
    background: #28DB28;
  }
}

.bamsepanelet{
  .valueTitel{
    background: #1B5BDB;
  }
}

.events{
  .valueTitel{
    background: #E53333;
  }
}

.historierne{
  .valueTitel{
    background: #F49B0C;
  }
}


@media screen and (min-width: 768px){
  .frontValues{
    p{
      margin: 5px;

      padding: 1rem;
      font-family: poppins;
      font-size: 16px;
    }

    a{
      font-size: 16px;
      color: black;
      font-weight: bold;

      margin-left: 4px;
      padding-left: 1rem;

    }
  }

  .frontValues:nth-child(even) {
    max-height: 400px;

    .valueContent{
      position: relative;
      top: -290px;
      left: 60%;
      max-width: 280px;
    }

  img{
    left: -50%;
  }


  }

  .frontValues:nth-child(odd) {
    max-height: 400px;


    .valueContent{
      position: relative;
      top: -290px;
      left: -50%;
      max-width: 280px;

    }

    img{
      left: 50%;
    }
  }



}


@media screen and (min-width: 1350px) {
  .frontValues:nth-child(even) {
    max-height: 700px;
    margin-bottom: -130px;

    .valueContent{
      position: relative;
      top: -325px;
      left: 70%;

      max-width: 370px;

      p{
        margin: 5px;

        padding: 1rem;
        font-family: poppins;
        font-size: 18px;
      }

      a{
        font-size: 18px;
        color: black;
        font-weight: bold;

        margin-left: 4px;
        padding-left: 1rem;

      }
    }


    img{
      width: 600px;
      height: 500px;
      max-width: 600px;
      left: -120%;
    }

    .valueTitel {

      right: -37%;
    }

  }

  .frontValues:nth-child(odd) {
    max-height: 700px;
    margin-bottom: -150px;

    .valueContent{
      position: relative;
      top: -340px;
      left: -60%;

      max-width: 370px;

      p{
        margin: 5px;

        padding: 1rem;
        font-family: poppins;
        font-size: 18px;
      }

      a{
        font-size: 18px;
        color: black;
        font-weight: bold;

        margin-left: 4px;
        padding-left: 1rem;

      }
    }

    img{
      width: 600px;
      height: 500px;
      max-width: 600px;
      left: 60%;
    }
  }
}