
section{

  .productCard{
    max-width: 100%;
    border-radius: 10px;
    border: solid 1px;
    display: grid;
    grid-template-columns: minmax(40px, 80px) auto 182px;
    grid-template-rows: auto auto;

    > h3{
      font-size: 16px;
      grid-column: 1/2;
      grid-row: 1/2;
    }

    > .trashContainer{
      grid-column: 3/4;
      grid-row: 1/2;
      width: 17px;
      cursor: pointer;

      > .lid{
        width: 17px;
        height: 3px;
        margin-bottom: 1px;
        position: relative;

        &:after{
          height: 2px;
          width: 5px;
          position: absolute;
          content: '';
          top: -1px;
          left: 50%;
          transform: translateX(-50%);
          background-color: #575757;
        }
      }

      > .can{
        height: 14px;
        width: 15px;

        > .canLine{
          height: 10px;
          width: 1px;
          border-radius: 100px;
          position: relative;
          border: 0;

          &:before, &:after{
            height: 10px;
            width: 1px;
            position: absolute;
            content: '';
            top: 0;
            background-color: white;
          }

          &:before{
            left: -3px;
          }

          &:after{
            left: 3px;
          }
        }
      }

      &:hover > .lid{
        margin-left: 10px;
        margin-bottom: 5px;
        transform: rotate(45deg);
      }
    }

    .productImage{
      background-image: url("https://via.placeholder.com/80");
      background-size: cover;
      background-position: center;
      height: 80px;
      width: 100%;

      grid-column: 1/2;
      grid-row: 2/3;
    }

    .priceContainer{
      grid-column: 3/4;
      grid-row: 2/3;

      > div{

        > input{
          width: 70px;
          font-size: 14px;
          border: none;
          background-color: transparent;
          text-decoration: underline;
          text-align: right;
          line-height: normal;
          margin-right: 20px;
        }

        > .fa-pen{
          margin-left: -16px;
          height: 14px;
          color: #575757
        }
      }

      > div {
        > .price{
          font-size: 24px;
          color: black;
        }
      }
    }
  }

  .addProductContainer{
    p{
      font-size: 14px;
    }

    .addProduct{
      height: 36px;
      width: 36px;
      border-radius: 3px;
      cursor: pointer;

      .plusLine{
        height: 4px;
        width: 20px;
        position: relative;
        transition: 0.2s;

        &:before{
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          background-color: #fff;
          border-radius: 1000px;
          transform: rotate(90deg);
          top: 0;
          left: 0;
        }
      }

      &:hover > .plusLine{
        width: 24px;
      }
    }
  }
}