@mixin poppins{
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'baloo';
  src: url('../fonts/baloo-regular-webfont.woff2') format('woff2'),
  url('../fonts/baloo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$theme-colors: (
        "purple": #8C2EEF,
        "green": #28DB28,
        "blue": #1B5BDB,
        "red": #28DB28,
        "orange": #F49B0C,
        "brown": #DD7128,
        "lightGrey": #f6f6f6
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";