* { /* Gælder alt på hele siden */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

html {
  overflow-y: scroll;
}

body {
  margin: 0; /* Ingen kanter i siden af browser */
 }

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol, menu {
  margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}


.topLogo{
  width: 154px;
}

header{
  height: 102px;
  padding: 0 24px 0 24px;


  .threeIcons{
    font-size: 25px;

    $burgerWidth: 30px;
    $burgerHeight: 4px;

    > .burgerBarContainer{
      cursor: pointer;
      z-index: 400;

      > .burgerBar{
        width: $burgerWidth;
        height: $burgerHeight;
        background-color: black;
        position: relative;
        border-radius: 1000px;
        transition: 0.3s;

        &:before, &:after{
          content: '';
          position: absolute;
          width: 100%;
          height: $burgerHeight;
          background-color: black;
          border-radius: 1000px;
          transition: 0.3s;
          left: 0;
        }

        &:before{
          top: -9px;
        }

        &:after{
          top: 9px;
        }

        &.cross{
          transform: rotate(-90deg);
          background-color: rgba(0, 0, 0, 0);

          &:before, &:after{
            top: 50%;
            left: 50%;
            width: 120%;
          }

          &:before{
            transform: translate(-50%, -50%) rotate(-135deg);
          }

          &:after{
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px){

  header{
    padding-left: 0; /* center function */
  }
  .Header-section1{
    justify-self: center;
    transform: translateX(-50%);
    margin-left: 50%;
  }

  div > a{
    text-decoration: dotted;
    color: white;

    &:hover{
      text-decoration: none;
    }
  }
  .nav-Desktop{
    height: 42px;
    align-items: center;
   }

}

