$fontSizeMenu : 18px;


.burgerMenu{
  display: block;
  position: absolute;
  background: #E53333;
  height: 100%;
  width: 0;
  right: 0;
  color: #eee;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: pre-line;

  z-index: 999999;



  .menuLink{
    text-align: center;
  display: none;

  }

  .menuLinkContainer{
    height: 40%;
  }

  a {
    color: #eee;

    font-size: $fontSizeMenu;
    flex-wrap: nowrap;
    line-break: revert;

    display: none;
  }
}

.fullScreenClickDetect{
  height: 100%;
  position: absolute;
  width: 100%;
  background: linear-gradient(-90deg, #E53333, transparent);
  opacity: 0.8;
  top: 0;
  display: none;
  z-index: 999999;
}

.lock-scroll {
  overflow: hidden;
}

